<h2>About me</h2>
<p>Working as a Software Engineer for Groupon's API Team. </p>
<p>I work mostly in <b>Java</b> but knows <b>Python</b> and <b>C++</b> quite well and learning <b>Javascript</b>.</p>
<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/schafle">/schafle</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/surajchafle/">/in/surajchafle/</a>
  </li>
</ul>
